.App {
  text-align: center;
}

.App-logo {
  margin-bottom: 14px;
  margin-right: 5px;
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 11vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: larger;
}

p {
  margin-left: 15px;

  text-decoration-style: solid;
  font-weight: 500;
  font-size: medium;
}

mark {
  color: rgb(25, 190, 25);
}

#sold {
  color: red;
}

h1 {
  margin-left: 15px;
}

h2 {
  margin-left: 15px;
}

h4 {
  margin-left: 15px;
}

img {
  margin-left: 15px;
}

figcaption {
  margin-left: 15px;
}

.col-md-9 {
  text-indent: 5px;
}

body {
  background-color: darkgrey;
  font-family: cursive;
  background-image: url("./xyz-logo.JPG");
  background-repeat: repeat-y;
  background-size: cover;
  height: 1px;
  box-sizing: border-box;
  background-origin: padding-box;
  border: 3px solid darkgrey;
}
